<div class="card-header">
    <h2>Dashboard</h2>
</div>
<div class="col-12">
    <br />
    {{#if loggedIn}}
    <h3>Logged In</h3>
    {{else}}
    <h3>Not Logged In</h3>
    {{/if}}
    <a href="/dashboard/new">
        <h3>➕ New Bill</h3>
    </a>
</div>

<div class="list-group col-12">
    {{#each bills}}
    <a class="list-item flex-row justify-space-between" href="/dashboard/edit/{{id}}">
        <span>{{bill_name}}</span>
    </a>
    {{/each}}
</div>