<div class="card-header">
  <h2>Edit Bill</h2>
</div>
<div class="col-12">
  <form id="edit-bill-form" class="card-header col-5 box">
    <input type="hidden" name="bill-id" value="{{bill.id}}" />
    <div>
      <label class="form-label text" for="bill-name">Bill Name:</label>
      <input class="input" name="bill-name" type="text" value="{{bill.bill_name}}" />
    </div>
    <div>
      <label class="form-label text" for="bill-amount">Cost:</label>
      <input class="input" type="number" name="bill-amount" value="{{bill.amount}}" />
    </div>
<br />
    <div>
      <button class="btn" type="submit">Update</button>
      <button type="button" id="delete-btn" class="btn">Delete</button>
    </div>
  </form>
</div>

<script src="/javascript/edit-bill.js"></script>
