<div class="card-header">
  <h2>Edit Bill</h2>
</div>
<div class="col-12">
  <form id="edit-bill-form" class="card-header col-5 box">
      <input type="hidden" name="bill-id" value="{{bills.id}}" />
    <div>
      <label class="form-label text" for="bill-name">Bill Name:</label>
      <input class="input" name="bill-name" type="text" value="{{bill_name}}" />
    </div>
    <div>
      <label class="form-label text" for="bill-amount">Cost:</label>
      <input class="input" type="number" name="bill-amount" value="{{amount}}" />
    </div>
    <div>
      <label class="form-label text" for="category_id">Category ID:</label>
      <select class="input" name="category_id" value="{{category_id}}">
          <option value="" disabled selected>Select your option</option>
          <option value="1">Mortgage</option>
          <option value="2">Phone</option>
          <option value="3">Electric</option>
          <option value="4">Water</option>
      </select>
    </div><br />
    <div>
      <button class="btn" type="submit">Create</button>
    </div>
  </form>
</div>

<script src="/javascript/edit-bill.js"></script>