
<div class="card-header">
  <h2>Edit Your Monthly Income</h2>
</div>
<div class="col-12">
  
    
<div class="col-12">
    <input type="hidden" name="user-id" value="{{user_id}}" />
  <form id="edit-income-form" class="card-header col-5 box">
    <div>
      <label class="form-label text" for="income-amount">Income:</label>
      <input class="input" name="income-amount" type="number" />
    </div>
<br />
    <div>
      <button class="btn" type="submit">Submit</button>
    </div>
  </form>
</div>

<script src="/javascript/edit-income.js"></script>