<form class="login-form card-header col-5">
    <div>
        <label class="text" for="email-login">Email:</label>
        <input class="input" type="text" id="email-login" />
    </div><br />
    <div>
        <label class="text" for="password-login">Password:</label>
        <input class="input" type="password" id="password-login" />
    </div>
    <div><br />
        <button class="btn" type="submit">Login</button>
    </div><br />
    <div class="sign-up"><a class="text" href="/signup">Register Now!</a>
    </div>

    <script src="/javascript/login.js"></script>