<div class="card-header">
  <h2>Add New Bill</h2>
</div>
<form class="login-form card-header col-5 box">
  <div>
    <label class="text" for="bill-name">Bill Name:</label>
    <input class="input" type="text" id="bill-name" />
  </div>
  <div>
    <label class="text" for="bill-amount">Cost:</label>
    <input class="input" type="text" id="bill-amount" />
  </div>
  <div>
    <button class="btn" type="submit">Create</button>
</form>

<script src="/javascript/new.js"></script>