
<div class="card-header">
  <h2>Create New Category</h2>
</div>
<div class="col-12">
  <form id="new-category-form" class="card-header col-5 box">
    <div>
      <label class="form-label text" for="category-name">New Category Name:</label>
      <input class="input" name="category-name" type="text" />
    </div>
<br />
    <div>
      <button class="btn" type="submit">Create</button>
    </div>
  </form>
</div>

<script src="/javascript/add-category.js"></script>