<div class="card">
  <div class="card-header">
    <h2>Create New Post</h2>
  </div>
  <form id="new-bill-form" class="card-body">
    <label class="form-label" for="bill-type">Bill Name</label>
    <input type="text" name="bill-type" class="form-input" />

    <label class="form-label" for="bill-amount">Amount</label>
    <input type="number" name="bill-amount" class="form-input"></input>

    <button type="submit" class="btn">Create</button>
  </form>
</div>

<script src="/javascript/new.js"></script>