
<div class="card-header">
  <h2>Add Your Monthly Income</h2>
</div>
<div class="col-12">
  <form id="new-category-form" class="card-header col-5 box">
    <div>
      <label class="form-label text" for="income-amount">Income:</label>
      <input class="input" name="income-amount" type="number" />
    </div>
<br />
    <div>
      <button class="btn" type="submit">Create</button>
    </div>
  </form>
</div>

<script src="/javascript/add-income.js"></script>