<form class="signup-form login-form card-header col-5 box">
    <div>
        <label class="text" for="username-signup">Username:</label><br />
        <input class="input" type="text" id="username-signup" /><br />
    </div>
    <div>
        <label class="text" for="email-signup">Email:</label><br />
        <input class="input" type="text" id="email-signup" /><br />
    </div>
    <div>
        <label class="text" for="password-signup">Password:</label><br />
        <input class="input" type="password" id="password-signup" /><br />
    </div>
    <div>
        <button class="btn" type="submit">Sign Up</button>
    </div>
</form>

<!-- javascript file-->
<script src="/javascript/signup.js"></script>