<form class="signup-form login-form card-header col-5">
    <div>
        <label class="text" for="username-signup">Username:</label>
        <input class="input" type="text" id="username-signup" />
    </div><br />
    <div>
        <label class="text" for="email-signup">Email:</label>
        <input class="input" type="text" id="email-signup" />
    </div><br />
    <div>
        <label class="text" for="password-signup">Password:</label>
        <input class="input" type="password" id="password-signup" />
    </div>
    <div>
        <br />
        <button class="btn" type="submit">Sign Up</button>
    </div>
</form>

<!-- javascript file-->
<script src="/javascript/signup.js"></script>